@font-face{
    font-family: BackIssues;
    src: url(fonts/BackIssuesBB_reg.otf);
}
@font-face{
    font-family: Kalam;
    src: url(fonts/Kalam-Regular.ttf);
}
@font-face{
    font-family: Comic;
    src: url(fonts/comic.ttf);
}
@font-face{
    font-family: Gidole;
    src: url(fonts/Gidole-Regular.otf);
}

@font-face{
    font-family: simp;
    src: url(fonts/simplicity.ttf);
}
@font-face{
    font-family: simpShadow;
    src: url(fonts/simplicityShadow.ttf);
}


/*
Colors:
Dark Blue: #283b9c
Dark Gray: #5f5f5f
Light Gray: #7f7f7f

dolka dot pic size: 1920w 1080h
*/
.navbar{
    background-color: #4f4f4f;
    color: white;
    border: 0px;
    border-radius: 0px;
}


body{
    background: url(images/dolkaDots.png) #283b9c;
    background-size: 576px 324px;
    color:white;
    font-family: Gidole;
}


.container{
    background-color: #7f7f7f;
    width: 85vw;
    min-height: 100vh;
}

#mySearch{
	margin: 10px;
	margin-left: 10%;
	margin-right: 10%;
	color: black;
}
#searchBar{
	width: 80%;
	color: black;
}
#searchBtn{
	background: url(images/dolkaDots.png) #283b9c;
    background-size: 576px 324px;
    color: #ffffff;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 6px 6px #4f4f4f;
    text-align: center;
    width: 10%;
}

.issue_img{
    width: 180px;
    height: 240px;
    float: left;
    margin-right: 15px;
}

footer{
	background-color: #4f4f4f;
	height: 200px;
}
footer p{
	margin-left: 50px;
}


/*
//////////////////////////////////////////////////////////
Login/Register
//////////////////////////////////////////////////////////
*/

/*
Colors:
Dark Blue: #283b9c
Dark Gray: #5f5f5f
Light Gray: #7f7f7f

dolka dot pic size: 1920w 1080h
*/

/*Login and Register Page*/
#LR{
    text-align: center;
    background-color: #7f7f7f;
    font-family: sans-serif;
}
#LR_left_side{
    background-color: #7f7f7f;
    float: left;
    width: 80%;
    height: 100vh;
    position: relative;
}
.LR_logo{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.LR_logo img{
    width: 100%;
    margin-top: 75px;
}
.LR_logo_Pt2{
    width: 50%;
    margin: auto;
}
.LR_logo_Pt2 img{
    width: 100%;
    margin-top: 15px;
}
#LR_right_side{
    background-color: #3f3f3f;
    /*background-size: 768px 432px;*/
    background-size: 576px 324px;
    background-repeat: repeat;
    float: right;
    width: 20%;
    height: 100vh;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
}
#LR_buttonDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#LR button{
    background: url(images/dolkaDots.png) #283b9c;
    background-size: 576px 324px;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 6px 6px #1f1f1f;
    font-family: simp;
    font-size: 45px;
    letter-spacing: 3px;
    color: #fff;
    cursor:pointer;
}

/*Register Form*/
#RegisterForm{
	visibility: hidden;
    margin-top: 20px;
}
#RegisterForm h1{
    font-size: 35px;
    margin-bottom: 30px;
}
#RegisterForm input{
    font-size: 15px;
    padding: 2px;
    height: 35px;
    width: 225px;
    margin: 3px;
}
.myFormBtn{
    background: url(images/dolkaDots.png) #283b9c;
    background-size: 576px 324px;
    color: #ffffff;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 6px 6px #4f4f4f;
}

/*Login Form*/
#LoginForm{
	visibility: hidden;
}
#LoginForm h1{
    font-size: 35px;
    margin-bottom: 30px;
    margin-top: -230px;
}
#LoginForm input{
    font-size: 15px;
    padding: 2px;
    height: 35px;
    width: 225px;
    margin: 3px;
}

/*alert message box*/
.alert {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 20px 4px 20px;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 20px;
  text-shadow: none;
  position: relative;
  background-color: #272e3b;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid #000;
  box-shadow: 0 0 0 1px #363d49 inset, 0 5px 10px rgba(0, 0, 0, 0.75);
}
.alert-error {
  color: #f00;
  background-color: #360e10;
  box-shadow: 0 0 0 1px #551e21 inset, 0 5px 10px rgba(0, 0, 0, 0.75);
}
.alert:empty{
    display: none;
}
.alert-success {
  color: #21ec0c;
  background-color: #15360e;
  box-shadow: 0 0 0 1px #2a551e inset, 0 5px 10px rgba(0, 0, 0, 0.75);
}



