/*
//////////////////////////////////////////////////////////
Login/Register
//////////////////////////////////////////////////////////
*/

/*
Colors:
Dark Blue: #283b9c
Dark Gray: #5f5f5f
Light Gray: #7f7f7f

#525965

#31353D


#283b9c

dolka dot pic size: 1920w 1080h
*/

/*Login and Register Page*/
body{
	background-color: #283b9c; 
}
#LR{
    text-align: center;
    background-color: #283b9c;
    font-family: sans-serif;
}
#LR_left_side{
    background-color: #3a3f48; 
    float: left;
    width: 70%;
    max-width: 1000px;
    height: 100vh;
    position: relative;
}
.LR_logo{
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.LR_logo img{
    width: 100%;
    margin-top: 75px;
}
.LR_logo_Pt2{
    width: 50%;
    margin: auto;
}
.LR_logo_Pt2 img{
    width: 100%;
    margin-top: 15px;
}
#LR_right_side{
    background-color: #283b9c;
    /*background-size: 768px 432px;*/
    background-size: 576px 324px;
    background-repeat: repeat;
    float: right;
    width: 25%;
    min-width: 200px;
    height: 100vh;
    position: relative;
}
#LR_buttonDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#LR button{
    background-color: #3a3f48;
    background-size: 576px 324px;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 6px 6px #1f1f1f;
    font-family: simp;
    font-size: 45px;
    letter-spacing: 3px;
    color: #fff;
    cursor:pointer;
    margin: 20px;
}

#LR button:hover{
    background-color: #272b33;
    cursor:pointer;
}

/*Register Form*/
#RegisterForm{
	visibility: hidden;
    margin-top: 20px;
}
#RegisterForm h1{
    font-size: 35px;
    margin-bottom: 30px;
}
#RegisterForm input{
    font-size: 15px;
    padding: 2px;
    height: 35px;
    width: 225px;
    margin: 3px;
}
.myFormBtn{
    background: url(images/dolkaDots.png) #283b9c;
    background-size: 576px 324px;
    color: #ffffff;
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow: 6px 6px #1f1f1f;
}

/*Login Form*/
#LoginForm{
	visibility: hidden;
}
#LoginForm h1{
    font-size: 35px;
    margin-bottom: 30px;
    margin-top: -230px;
}
#LoginForm input{
    font-size: 15px;
    padding: 2px;
    height: 35px;
    width: 225px;
    margin: 3px;
}

/*alert message box*/
.alert {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 20px 4px 20px;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 20px;
  text-shadow: none;
  position: relative;
  background-color: #272e3b;
  color: rgba(255, 255, 255, 0.7);
  border: 1px solid #000;
  box-shadow: 0 0 0 1px #363d49 inset, 0 5px 10px rgba(0, 0, 0, 0.75);
  text-align: center;
}
.alert-error {
  color: #f00;
  background-color: #360e10;
  box-shadow: 0 0 0 1px #551e21 inset, 0 5px 10px rgba(0, 0, 0, 0.75);
}
.alert:empty{
    display: none;
}
.alert-success {
  color: #21ec0c;
  background-color: #15360e;
  box-shadow: 0 0 0 1px #2a551e inset, 0 5px 10px rgba(0, 0, 0, 0.75);
}



